.navbar > a:hover {
    color: #ED377E;
    font-weight: bold;
}

.whatsapp {
        position: fixed;
        bottom: 20px;
        left: 20px;
        z-index: 10;
}
.list .square {
        list-style-type: square;      
}